ion-content {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("/assets/imgs/fondo_splash.svg") no-repeat center center / cover !important;
}

.img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    -webkit-animation: bounce-in-top 1.5s both;
    animation: bounce-in-top 1.5s both
}