<ion-header>
    <ion-toolbar>
        <ion-row class="ion-align-items-center">
            <ion-col size="6">
                <ion-img src="assets/imgs/logo_blanco.png"></ion-img>
            </ion-col>
            <ion-col size="6">
                <ion-item lines="none">
                    <ion-button slot="end" fill="clear" (click)="cerrar()">
                        <ion-icon name="close-circle" color="iconos"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-row class="ion-text-center">
        <h2 class="titulos">Información del servicio</h2>
    </ion-row>
    <ion-card class="card-fondo css-card1" color="primary" *ngIf="card1">
        <ion-card-content>
            <ion-card>
                <ion-card-header class="ion-text-center">
                    <h2 class="subtitulo">Información del vehículo</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item>
                                    <ion-label position="floating">Número ECO:</ion-label>
                                    <ion-input inputmode="text" type="text" style="color: #000" [(ngModel)]="data_busqueda.clave">
                                    </ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-button expand="full" class="titulos" (click)="buscarTractoCamion()">Buscar unidad &nbsp;
                                    <ion-icon name="search"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-row>
                <ion-col size="6">
                </ion-col>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="verificarVehiculo()">
                        Siguiente &nbsp;
                        <ion-icon name="chevron-forward-circle"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card class="card-fondo css-card2" color="primary" *ngIf="card2">
        <ion-card-content>
            <ion-card>
                <ion-card-header class="ion-text-center">
                    <h2 class="subtitulo">Detalle Vehiculo</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item>
                                    <ion-label position="floating">Tipo Vehiculo</ion-label>
                                    <ion-input value="{{informacion_orden.tipo_vehiculo}}" disabled></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item>
                                    <ion-label position="floating">Marca de Vehiculo:</ion-label>
                                    <ion-input value="{{informacion_orden.marca}}" disabled></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item>
                                    <ion-label position="floating">Imei</ion-label>
                                    <ion-input value="{{informacion_orden.imei}}" disabled></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item>
                                    <ion-label position="floating">Num. Serie</ion-label>
                                    <ion-input value="{{informacion_orden.serie}}" disabled></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">
                                <ion-item>
                                    <ion-label position="floating">Placas</ion-label>
                                    <ion-input value="{{informacion_orden.placas}}" disabled></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size="6">
                                <ion-item>
                                    <ion-label position="floating">No. Eco</ion-label>
                                    <ion-input value="{{informacion_orden.unidad}}" disabled></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item>
                                    <ion-label position="floating">Proveedor</ion-label>
                                    <ion-input value="{{informacion_orden.proveedor}}" disabled></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-row>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="mostrarCard1()">
                        <ion-icon name="chevron-back-circle"></ion-icon> &nbsp; Anterior
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="mostrarCard3()">
                        Siguiente &nbsp;
                        <ion-icon name="chevron-forward-circle"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card class="card-fondo css-card3" color="primary" *ngIf="card3">
        <ion-card-content>
            <ion-card>
                <ion-card-header class="ion-text-center">
                    <h2 class="subtitulo">Tipo de mantenimiento</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item *ngFor="let mantenimiento of form" (click)="onClick(mantenimiento)">
                                <ion-label style="color:black">{{mantenimiento.val}}</ion-label>
                                <ion-checkbox color="primary" mode="ios" [(ngModel)]="mantenimiento.isChecked"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <ion-row>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="mostrarCard2()">
                        <ion-icon name="chevron-back-circle"></ion-icon> &nbsp; Anterior
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="mostrarCard4()">
                        Siguiente &nbsp;
                        <ion-icon name="chevron-forward-circle"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card class="card-fondo css-card4" color="primary" *ngIf="card4">
        <ion-card-content>
            <ion-card>
                <ion-card-header class="ion-text-center">
                    <h2 class="subtitulo">Ubicación del servicio</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item *ngFor="let ubicacion of formUbicacion" (click)="onClickU(ubicacion)">
                                <ion-label>{{ubicacion.val}}</ion-label>
                                <ion-checkbox color="primary" mode="ios" [(ngModel)]="ubicacion.isChecked"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header class="ion-text-center">
                    <h2 class="subtitulo">Tipo de servicio</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item>
                                <ion-label>Seleccionar un servicio</ion-label>
                                <ion-select mode="ios" okText="Aceptar" cancelText="Cancelar" (ionChange)="ionChangeServicio($event)">
                                    <ion-select-option value="{{servicio.descripcion_servicio}}" *ngFor="let servicio of servicios">
                                        {{servicio.descripcion_servicio}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header class="ion-text-center">
                    <h2 class="subtitulo">Sensores y aditamentos</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item *ngFor="let aditamento of aditamientos">
                                <ion-label>{{aditamento.nombre_sensor_aditamiento}}</ion-label>
                                <ion-checkbox mode="ios" (click)="onClickSensores(aditamento)"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <ion-row>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="mostrarCard3()">
                        <ion-icon name="chevron-back-circle"></ion-icon> &nbsp; Anterior
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="mostrarCard5()">
                        Siguiente &nbsp;
                        <ion-icon name="chevron-forward-circle"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-fondo css-card4" color="primary" *ngIf="card5">
        <ion-card-content>
            <ion-card>
                <ion-card-header class="ion-text-center">
                    <h2 class="subtitulo">Ubicación del servicio</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item *ngFor="let ubicacion of formUbicacion" (click)="onClickU(ubicacion)">
                                <ion-label>{{ubicacion.val}}</ion-label>
                                <ion-checkbox color="primary" mode="ios" [(ngModel)]="ubicacion.isChecked"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header class="ion-text-center">
                    <h2 class="subtitulo">Tipo de servicio</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item>
                                <ion-label>Seleccionar un servicio</ion-label>
                                <ion-select mode="ios" okText="Aceptar" cancelText="Cancelar" (ionChange)="ionChangeServicio($event)">
                                    <ion-select-option value="{{servicio.descripcion_servicio}}" *ngFor="let servicio of servicios">
                                        {{servicio.descripcion_servicio}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header class="ion-text-center">
                    <h2 class="subtitulo">Sensores y aditamentos</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item *ngFor="let aditamento of sensoresCaja">
                                <ion-label>{{aditamento.nombre_sensor_aditamiento}}</ion-label>
                                <ion-checkbox mode="ios" (click)="onClickSensores(aditamento)"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <ion-row>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="mostrarCard3()">
                        <ion-icon name="chevron-back-circle"></ion-icon> &nbsp; Anterior
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="mostrarCard5()">
                        Siguiente &nbsp;
                        <ion-icon name="chevron-forward-circle"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-fondo css-card5" color="primary" *ngIf="card6">
        <ion-card-content>
            <ion-card>
                <ion-card-header>
                    <h2 class="subtitulo ion-text-center">Comentarios</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-textarea class="texto" inputmode="text" rows="10" placeholder="Escriba sus comentarios en esta área..." [(ngModel)]="informacion_orden.observaciones">
                    </ion-textarea>
                </ion-card-content>
            </ion-card>
            <ion-row>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="mostrarCard4()">
                        <ion-icon name="chevron-back-circle"></ion-icon> &nbsp; Anterior
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button class="subtitulo" (click)="mostrarCard6()">
                        Siguiente &nbsp;
                        <ion-icon name="chevron-forward-circle"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-fondo css-card2" color="primary" *ngIf="card8">
        <ion-card-content>
            <ion-card>
                <ion-card-header>
                    <h2 class="subtitulo ion-text-center">Evidencias</h2>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col text-center>

                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="images-wrapper">
                                <div class="pick-single-image" *ngFor="let image of imgRes">
                                    <img src="{{image}}" alt="" srcset="">
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-fondo css-card1" color="primary" *ngIf="card7">
        <ion-card-content>
            <ion-card>
                <ion-card-header>
                    <h2 class="subtitulo ion-text-center">Firma Técnico</h2>
                </ion-card-header>
                <ion-card-content>
                    <div class="signature-container">
                        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                    </div>
                    <img src='{{ signatureImg }}' style="display: none;" />
                    <ion-row>
                        <ion-col size="12">
                            <ion-button class="subtitulo" expand="block" (click)="clearPad()">Volver a firmar &nbsp;
                                <ion-icon name="trash"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
            <ion-row>
                <ion-col size="12">
                    <ion-button class="subtitulo" (click)="mostrarCard5()">
                        <ion-icon name="chevron-back-circle"></ion-icon> &nbsp; Anterior
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-button class="subtitulo" color="success" (click)="savePad()" (click)="guardarNota()" expand="full" shape="round">
                        Registrar Orden &nbsp;
                        <ion-icon name="chevron-forward-circle"></ion-icon> &nbsp;
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>