ion-content {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("/assets/imgs/fondo1.jpg") no-repeat center center / cover !important;
}

ion-col {
    ion-row {
        ion-item {
            --background: transparent !important;
            opacity: 0.6;
            border-radius: 8px;
            ion-label {
                font-family: 'Conv_Montserrat-Medium';
                font-size: 11px;
            }
            ion-select {
                font-size: 11px;
                font-family: 'Conv_Montserrat-Medium';
                ion-select-option {
                    font-size: 11px;
                    font-family: 'Conv_Montserrat-Medium';
                }
            }
        }
    }
}

h2 {
    color: #002e6d;
}

.ion-col-table {
    border-radius: 0.1px;
    background: #e67e22;
    opacity: 0.6;
    ion-label {
        text-align: center;
        font-size: 10px !important;
        font-family: 'Conv_Montserrat-Medium';
        color: #ffff;
    }
}

.ion-col-table-data {
    border-radius: 0.1px;
    background: #002e6d;
    opacity: 0.6;
    margin-bottom: 1px;
    margin-top: 2px;
    ion-label {
        text-align: center;
        font-size: 10px !important;
        font-family: 'Conv_Montserrat-Medium';
        color: #ffff;
    }
}

.ion-col-table-data-skeleton {
    border-radius: 0.1px;
    background: #8c8e92;
    opacity: 0.6;
    margin-bottom: 1px;
    margin-top: 2px;
    ion-label {
        text-align: center;
        font-size: 13px !important;
        font-family: 'Conv_Montserrat-Medium';
        color: #ffff;
    }
}

ion-skeleton-text {
    //background: rgba(170, 148, 148, 0.349);
    opacity: 1;
}

.container-img {
    text-align: center;
    position: absolute;
    top: 55%;
    /* Buscamos el centro horizontal (relativo) del navegador */
    left: 50%;
    /* Buscamos el centro vertical (relativo) del navegador */
    width: 150px;
    /* Definimos el ancho del objeto a centrar */
    height: 150px;
    /* Definimos el alto del objeto a centrar */
    margin-top: -75px;
    /* Restamos la mitad de la altura del objeto con un margin-top */
    margin-left: -75px;
    /* Restamos la mitad de la anchura del objeto con un margin-left */
}

ion-refresher ion-refresher-content {
    background: rgb(243, 39, 53);
    background: linear-gradient( 287deg, rgba(243, 39, 53, 0.4962359943977591) 0%, rgba(0, 46, 109, 0.7287289915966386) 100%);
    font-size: 12px;
    font-size: 'Conv_Montserrat-Medium';
}