ion-label {
    text-transform: capitalize !important;
}

ion-header {
    ion-toolbar {
        --background: rgb(243, 39, 53);
        --background: linear-gradient(302deg, rgba(243, 39, 53, 0.5830707282913166) 0%, rgba(243, 39, 53, 1) 69%);
    }
    ion-col {
        ion-item {
            --background: transparent;
            --border-color: var(--ion-color-form, #ffffff);
            color: #ffffff;
        }
    }
}